@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: hsl(228, 33%, 97%); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* All personalized colors for Tailwind */
@theme {
  --color-purple-600: hsl(238, 40%, 52%);
  --color-purple-200: hsl(239, 57%, 85%);
  --color-pink-400: hsl(358, 79%, 66%);
  --color-pink-200: hsl(357, 100%, 86%);

  --color-grey-800 : hsl(212, 24%, 26%);
  --color-grey-500 : hsl(211, 10%, 45%);
  --color-grey-100 : hsl(223, 19%, 93%);
  --color-grey-50 : hsl(228, 33%, 97%);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
